@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --primary: #1abc9c;
  --secondary: #ffc107;
  --primaryDark: #0c9177;
  --secondaryDark: #d19d02;
  --darkColor: #3333;
  scroll-behavior: smooth;
  scrollbar-color: var(--primaryDark) var(--darkColor);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link-style {
  @apply text-primary hover:underline transition-all duration-700 font-bold text-center cursor-pointer;
}

/* Accordion class */
.Collapsible__trigger {
  background: var(--primary);
  width: 100%;
  display: inline-block;
  padding: 0.5rem 0;
  border-radius: 1rem;
  text-align: center;
}

Copy.rotate-180 {
  transform: rotate(180deg);
}

.picker {
  position: relative;
}

.swatch {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.popover {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Picker styles */
.chrome-picker-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}

.chrome-picker-wrapper.open {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
}

.chrome-picker {
  margin: auto;
  box-shadow: 0 0 20px rgba(214, 214, 214, 0.25) !important;
  width: 100% !important;
}

/* Feedback form */
.feedback-form-wrapper {
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out,
    max-height 0.25s ease-in-out;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}

.feedback-form-wrapper.open {
  opacity: 1;
  visibility: visible;
  max-height: 400px;
  margin-bottom: 2rem;
}
